*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
.navbar{
    padding: 30px 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li{
    display:inline-block;
    margin:0 10px;
  
}
.menu{
    flex:1;
    text-align: right;
}
a{
    text-decoration:none;
    color:#384158;
    padding:8px;
    font-family: sans-serif;
    font-weight: 600;
}
nav a:hover{
    background-color:#14bdee;
    color:white;
    border-radius: 3px;
    transition: 0.2s;
}
.logo h1{
    line-height: 30px;
    letter-spacing: 3px;
    margin:0;
    color:#384158;

}